
body {
    background-color: blanchedalmond;
    margin: 20px;
}
h1 {
    color:brown;
    margin: 20px;
}
div {
    width: 300px;
    border: 15px solid green;
    background-color: honeydew;
    padding: 50px;
    margin: 20px;
    z-index: -1;
    top: 500px;
}
img{
    margin: 20px;
    width: 430px;
}
@media only screen and (min-width: 550px ) {
    body{
        width: 480px;
        margin:0 auto;
    }
}